<h3>
  {{ title }}
</h3>

<form [formGroup]="heroForm" (ngSubmit)="addHero()">
  <input type="text" formControlName="name" placeholder="Nombre" required>
  <input type="text" formControlName="power" placeholder="Poder" required>
  <input type="text" formControlName="alterEgo" placeholder="Alter ego" required>
  <input type="number" formControlName="age" placeholder="Edad" required>
  <button type="submit" class="btn btn-primary mx-1">
    Agregar
  </button>

</form>


<ul>
  <li *ngFor="let hero of heroes">
    {{ hero.id }}
    {{ hero.name }}
    {{ hero.power }}
    {{ hero.alterEgo }}
    {{ hero.age}}

    <button (click)="deleteHero(hero)" class="btn btn-danger mx-1">
      Borrar
    </button>

    <button (click)="editHero(hero)" class="btn btn-primary mx-1">
      Editar
    </button>

    <form *ngIf="editingHeroId === hero.id"  [formGroup]="heroEditForm" (ngSubmit)="updateHero(heroEditForm.value)">
      <input type="hidden" formControlName="id">
      <input type="text" formControlName="name" placeholder="Nombre" required>
      <input type="text" formControlName="power" placeholder="Poder" required>
      <input type="text" formControlName="alterEgo" placeholder="Alter ego" required>
      <input type="number" formControlName="age" placeholder="Edad" required>

      <button type="submit" class="btn btn-info">
        Guardar
      </button>
    </form>
  </li>
</ul>

<button *ngIf="heroes.length > 0" (click)="deleteLatestHero()" class="btn btn-danger">Delete Last Hero</button>

